.vscode/
.DS_Store

auto/package-lock.json
auto/node_modules/
auto/build/
auto/dist/
auto/log/


diary/package-lock.json
diary/node_modules/
diary/build/
diary/dist/
diary/log/

eTool/package-lock.json
eTool/node_modules/
eTool/build/
eTool/dist/
eTool/log/

sc/package-lock.json
sc/node_modules/
sc/build/
sc/dist/
sc/log/
 
